{% extends "base.html" %}

{% block title %}
  Login
{% endblock %}

{% block content %}
  <div class="col-md-4 offset-md-4">
    <div style="height: 20px" class=""></div>
    <div style="height: 50px" class="">
      <h2 class="text-danger">{{ _('Увійти') }}</h2>
    </div>
    {% from "security/_macros.html" import render_field_with_errors, render_field %}
    {% include "security/_messages.html" %}
  
      <form action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
        {{ login_user_form.hidden_tag() }}
        {{ render_field_with_errors(login_user_form.email, class='form-control') }}
        {{ render_field_with_errors(login_user_form.password, class='form-control') }}
        {{ render_field_with_errors(login_user_form.remember) }}
        {{ render_field(login_user_form.next) }}
        {{ render_field(login_user_form.submit, class='form-control btn btn-outline-primary') }}
      </form>
      <p>{{ _('Ще не зареєстровані?') }} <a href="{{ url_for('register') }}">{{ _('Клік для реєстрації!') }}</a></p>
      <!-- <p>
          {{ _('Forgot Your Password?') }}
          <a href="{{ url_for('index') }}">{{ _('Click to Reset It') }}</a>
      </p> -->
      <div style="height: 100px" class=""></div>
  </div>

{% endblock %}