<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="
    sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    {% block scripts %}
    {% endblock %}
    <title>
      {% block title%}
      {% endblock %} | iService
    </title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand text-danger" href=" {{ url_for('index') }}">iService</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('index') }}"><img src="img/home-24px.svg" alt=""></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="{{ url_for('index') }}" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Сервіс
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="{{ url_for('create_form', name_form='order') }}">Записатись на СТО</a>
                  <a class="dropdown-item" href="{{ url_for('price') }}">Наші послуги</a>
                </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('news') }}">Новини</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('contacts') }}">Контакти</a>
            </li>
            <li class="nav-item">
              {% if current_user.has_role('ADMIN') %}
                <a class="nav-link">|</a>
              {% endif %}
            </li>
            <li class="nav-item">
              {% if current_user.has_role('ADMIN') %}
                <a class="nav-link" href="{{ url_for('create_form', name_form='news') }}">Створити новину</a>
              {% endif %}
            </li>
            <li class="nav-item">
              {% if current_user.has_role('ADMIN') %}
                <a class="nav-link" href="/admin">Адміністратор</a>
              {% endif %}
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li> -->
          </ul>

          <form class="form-inline my-lg-0" metod="GET">
            <a class="nav-link nav-dark" href="tel:+380675555500">067 555 55 00</a>
            <input class="form-control mr-sm-2" type="search" placeholder="Пошук" aria-label="Search" name="search" value="{{ request.args.get('/news?search', '') }}">

            <button class="btn btn-light" type="submit">Пошук</button>
                        
            {% if current_user.is_authenticated %}
              <a href="{{ url_for('security.logout') }}" class="btn btn-outline-danger m-2">Вийти</a>
            {% else %}
              <a href="{{ url_for('security.login') }}" class="btn btn-danger m-2">Увійти</a>
            {% endif %}
            
          </form>

        </div>
    </nav>
    <div class="main-container">
      {% block content %}
      {% endblock %}
    </div>
    <div class="footer bg-dark sticky-bottom">
      {% include "footer.html" %}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.uk.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker3.standalone.min.css"/>
</body>
</html>