{% extends "base.html" %}

{% block scripts %}
    <!-- Add bootstrap-datepicker -->
    <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.uk.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker3.standalone.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="css/main.css">
{% endblock %}

{% block title %}
    Create new {{ form_type }}    
{% endblock %}

{% block content %}
    <div class="col-md-4 offset-md-4">
        <div style="height: 20px" class=""></div>
        <div style="height: 50px" class="">
            <h2 class="text-danger">{{ title }}</h2>
        </div>
        {% if form_type == 'user' %}
            <form action="{{ url_for('register') }}" method="POST">
        {% else%}
            {% if form_type == 'order' %}    
                <form action="{{ url_for('create_order') }}" method="POST">
            {% else%}
                <form action="{{ url_for('create_form', name_form=form_type) }}" method="POST">
            {% endif %}
        {% endif %}

        {% for field in form %}
            <div class="form-group">
                {% if field.type not in ['SubmitField']: %}
                    {% if field.type in ['BooleanField']: %}
                        {{ field(class='form-check-control') }}
                        {{ field.label(class='form-check-label') }}                        
                    {% else: %}
                        {% if field.type in ['DateField']: %}
                            {{ field.label(class='control-label') }}
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar-check-o"></i>
                                </div>
                                {{ field(class='form-control',  id='datepicker', placeholder='DD/MM/YYYY') }}
                            </div>  
                        {% else: %}               
                            {{ field.label(class='control-label') }}
                            {{ field(class='form-control') }}
                        {% endif %}
                    {% endif %}
                {% else: %}
                    {{ field(class='form-control btn btn-outline-primary') }}
                {% endif %}
            </div>
        {% endfor %}
        </form>
        <div style="height: 150px" class=""></div>
    </div>
    {% if date_ordered %}
    <script>
        $('#datepicker').datepicker({
            format: 'dd/mm/yyyy',
            // startDate: '-3d'
            clearBtn: true,
            language: "uk",
            multidate: true,
            // daysOfWeekHighlighted: "0,6",
            todayHighlight: true,
            datesDisabled: {{ date_ordered | tojson }},
            // datesDisabled: {{ date_ordered }}
            // datesDisabled: [{{ ', '.join(date_ordered) }}],
            // datesDisabled: ['06/06/2020', '05/06/2020', '07/06/2020', '08/06/2020'],
            toggleActive: true
        });
    </script>
    {% endif%}
{% endblock %}
