<div class="container text-white">
    <br>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
            <h4 class="text-danger">iServise</h4>
            <p>Ми працюємо з 2019 року<br/>
                з 9.00 до 19.00 <br/>
                Без вихідних
            </p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <h4 class="text-danger">Про компанію</h4>           
            <a class="badge-dark" href="#">Про iService</a><br>
            <a class="badge-dark" href="#">Вакансії</a><br>
            <a class="badge-dark" href="#">Контакти</a><br>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <h4 class="text-danger">Клієнтам</h4>
            <a class="badge-dark" href="#">Записатись</a><br>
            <a class="badge-dark" href="#">Знайти на карті</a><br>
            <a class="badge-dark" href="#">Довідка</a><br>
        </div>        
    </div>
</div>