{% extends "base.html" %}

{% block title %}
    Post Detail             
{% endblock %}

{% block content %}
<div class="col-md-10 offset-md-1">
    <div style="height: 20px" class=""></div>
    <div style="height: 50px" class="">
      <h2 class="text-danger">{{ post.title }}</h2>
    </div>
    <div class="tags">
        {% for tag in tags %}
            <a href="{{ url_for('tag_detail', slug=tag.slug) }}" class="badge badge-pill badge-primary">{{ tag.name }}</a>
        {% endfor %}
    </div>
    
    <small><b>Created: {{ post.created }} <br/></b></small>
            
    <div class="content">
        {{ post.body }}  
    </div>
    <div style="height: 50px" class=""></div>
</div>
{% endblock %}