{% extends "base.html" %}

{% block title %}
    {{ title }}    
{% endblock %}

{% block content %}
    <div class="col-md-4 offset-md-4">
        <div style="height: 20px" class=""></div>
        <div style="height: 50px" class="">
            <h2 class="text-danger">{{ title }}</h2>
        </div>
        <form action="{{ url_for('reset_password_request') }}" method="POST">
            {% for field in form %}
                {% if field.type not in ['SubmitField']: %}
                    {{ field.label(class='control-label') }}
                    {{ field(class='form-control') }}
                {% else: %}
                    {{ field(class='form-control btn btn-outline-primary') }}
                {% endif %}
            {% endfor %}
        </form>
        <div style="height: 100px" class=""></div>
{% endblock %}
